//COLORS
$color-background: #e1d4c9;
$color-background-dark: #665f55;
$color-backdrop: #403f3dcc;

$color-border-light: #c1b6ad;
$color-border-dark: #665f55;

$color-text-light: #e1d4c9;
$color-text-dark: #403f3d;
$color-text-accent: #b0907a;

$color-white: #fff;
$color-black: #000;

$color-svg-fill-light: #e1d4c9;
$color-svg-fill-dark: #403f3d;

// FONTS
$heading-1-font-size: 7.2rem;
$heading-2-font-size: 6rem;
$heading-3-font-size: 2.4rem;

$default-font-size: 1.6rem;
$font-size-small: 1rem;
$font-size-burger: 3.2rem;

//CONTENT
$width-content: 136rem;
